body,
html {
   font-family:"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   width: 100%;
   height: 100%;
}


img,
video {
   object-fit: cover;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: black;
}

/* No */
.no {
   display:none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 250;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 60%;
}

/* Giao hàng và liên hệ*/

.ship {
   position: fixed;
   top: -300px;
   left: 0;
   width: 100%;
   height: 300px;
   z-index: 300;
   background-color: white;
   transition: top .3s ease-in-out;
   overflow: hidden;
}

.ship>.wrap {
   width: 60;
   margin: 50px auto;
   display: grid;
   grid-template-rows: 20% 80%;
}

.ship>.wrap>div {
   display: flex;
   justify-content: flex-end;
}

.ship>.wrap>div>.x {
   width: 30px;
   height: 30px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.aboutship {
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 50px;
}


.aboutship h1 {
   font-size: 15px;
}

.aboutship p {
   font-size: 14px;
}

.aboutship a {
   text-decoration: underline;
   font-weight: bold;
   font-size: 13px;
}

.aboutship a:hover {
   color: white;
   background-color: black;
}

/* Phần thanh tiêu đề - gồm tất cả animation , css ..*/
.title {
   position: fixed;
   width: 100%;
   left: 0px;
   top: 0px;
   z-index: 1000;
   display: block;
}


.scroll_up {
   animation: scroll_up .5s ease-in-out;
}

.scroll_down {
   animation: scroll_down .5s ease-in-out;
}

@keyframes scroll_up {
   from {
      top: -120px
   }

   to {
      top: 0px
   }
}

@keyframes scroll_down {
   from {
      top: 0px
   }

   to {
      top: -120px
   }
}

.title {
   background-color: white;
   z-index: 200;
}

/*-------------------------------------*/
/* Phần chuyển đổi chữ - clss text_animation*/
.title>.text_animation {
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 11px;
   background-color: black;
   color: white;
   font-weight: bold;
}

@keyframes changeText {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.animate {
   animation: changeText .5s ease-in-out;
}

/*---------------------------------------------*/
/* Phần navbar - menu,logo..*/
.navbar {
   display: grid;
   grid-template-columns: 20% 50% 30%;
   padding: 0 20px;
   padding-bottom: 0px;
   margin-bottom: 0px;
   width: 100%;
}

/* Phần logo*/
.logo {
   display: flex;
   align-items: start;
   padding-left: 50px;
   margin-top: 10px;
}

.logo>._logo {
   width: 70px;
   height: 70px;
   overflow: visible;
}

._logo>img {
   width: 100%;
   height: 100%;
}

/*-----------------------------------*/
/* Phần menu*/
.main>.subnav {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   height: 100%;
   display: flex;
   justify-content: space-around;
   padding-top: 36px;
}

.main>.subnav>li {
   float: left;
   height: 100%;
   display: flex;
   align-items: center;
}

.main>.subnav>li>a::after {
   background: none repeat scroll 0 0 transparent;
   bottom: 0;
   content: "";
   display: block;
   height: 3px;
   left: 50%;
   position: absolute;
   background: #fff;
   transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width: 0;
}

.main>.subnav>li>a:hover:after {
   width: 100%; 
   left: 0;
   background-color: black;
}

.main>.subnav>li>a {
   text-decoration: none;
   color: black;
   font-size: 14px;
   position: relative;
   height: 100%;
   padding-top: 10px;
}


.main>.subnav>li:nth-of-type(1):hover>.sub_content {
   display: block;
}

.main>.subnav>li:nth-child(2):hover>.sub_content {
   display: block;
}

.main>.subnav>li:nth-child(3):hover>.sub_content {
   display: block;
}

.sub_content {
   display: none;
   position: absolute;
   left: 0;
   top: 120px;
   background-color: white;
   width: 100%;
   margin: 0 auto;
   z-index: 1;
   border-top: 1px solid gainsboro;
}

.content_link {
   display: grid;
   grid-template-columns: 25% 12.5% 12.5% 12.5% 12.5% 25%;
   grid-template-rows: 90% 10%;
}

.content_1 {
   display: flex;
   flex-direction: column;
   padding: 30px 20px;
   padding-left: 100px;
   line-height: 2;
   border-right: 1px solid gainsboro;
}

.content_2 {
   display: flex;
   flex-direction: column;
   padding: 30px 20px;
   line-height: 2;
}

.content_3 {
   display: flex;
   flex-direction: column;
   padding: 30px 20px;
   line-height: 2;
}

.content_4 {
   display: flex;
   padding-left: 100px;
   border-top: 1px solid gainsboro;
   border-right: 1px solid gainsboro;
   align-items: center;
   font-weight: bold;
}

.content_5 {
   display: flex;
   padding-left: 10px;
   border-top: 1px solid gainsboro;
   align-items: center;
   font-weight: bold;
}

.content_6 {
   display: flex;
   padding-left: 20px;
   border-top: 1px solid gainsboro;
   align-items: center;
   font-weight: bold;
}

.a_hover {
   text-decoration: none;
   color: black;
   font-size: 14px;
}

a.a_hover:hover {
   text-decoration: underline;
}

/*---------------------------------------*/
/* Phần help và tìm kiếm*/
.search_help {
   display: grid;
   grid-template-rows: 30% 70%;
}

/* Phần trợ giúp*/
.help {
   display: flex;
   justify-content: end;
   margin-right: 50px;
   margin-top: 5px;
}

.help>.help_ul {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.help>.help_ul>li {
   float: left;
   margin-left: 10px;
}

.help>.help_ul>li>a {
   text-decoration: none;
   color: grey;
   font-size: 11px;
}

.help>.help_ul>li>i {
   cursor: pointer;
   transition: transform 0.1s ease-in-out;
}

.language_select{
   position: relative;
}

._language_change {
   display: none;
}

.language_change {
   position: absolute;
   right: 0;
   top:100%;
   width: 250px;
   height: 200px;
   background-color: white;
   z-index: 2;
   margin-top: 4px;
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   padding-top: 20px;
   row-gap: 20px;
   align-items: center;
}

select {
   height: 50px;
   width: 90%;
   padding: 0 20px;
}

select option {
   height: 50px;
}

.help>.help_ul>li:hover>a {
   text-decoration: underline;
}

/* Phần tìm kiếm*/
.search_help>.search {
   margin-left: 55px;
   width: 320px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.search_help>.search>.form {
   position: relative;
}

.form>input {
   height: 25px;
   width: 200px;
   border: none;
   background-color: gainsboro;
   padding-left: 10px;
}

.form>i {
   position: absolute;
   right: 7px;
   top: 7px;
   cursor: pointer;
}

.search_help>.search>i {
   margin: 0px 10px;
   font-size: 20px;
}

/*--------------------------------------------*/
/*--------------------------------------------*/
.content {
   width: 100%;
   height: 500px;
}

.content>img {
   width: 100%;
   height: 100%;
}

.none {
   height: 121px;
}

.post {
   height: 50px;
   width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 15px;
   position: relative;
}

.post>span>a {
   text-decoration: underline;
   color: white;
}

.post>i {
   position: absolute;
   right: 3%;
   font-size: 20px;
   cursor: pointer;
}

/* Phần main chính*/
/* video*/
._video {
   position: relative;
   width: 100%;
   height: 700px;
}

.fill_picture {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.fill_picture>img {
   height: 100%;
   width: 100%;
   z-index: 1;
}

.video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: black;
   /* Màu nền đen khi video không tự động fill hết màn hình */
   z-index: 5;
   display: none;
}

.intro {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
}

.intro>._wrap {
   width: 80%;
   margin: 0 auto;
}

._wrap>div {
   z-index: 10;
   width: 35%;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   gap: 30px;
}

._wrap>div>h1 {
   color: black;
   font-size: 40px;
}

._wrap>div>p {
   font-size: 18px;
   color: black;
}

/* Exclusion */
.Ex ._product{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 50px;
   border: 2px solid black;
   font-weight: bold;
   cursor: pointer;
   background-color: black;
   color:white;
   margin:30px 0;
}

.cost {
   line-height: 1.5;
   padding-left: 5px;
}

.cost>p {
   font-size: 14px;
}

.cost>p:nth-of-type(2) {
   color:#8e8fb5;
}

.image-slider {
   padding-bottom: 50px;
   cursor: pointer;
}

._border {
   display: none;
   border: 1px solid black;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.image-item {
   height: 400px;
   box-sizing: border-box !important;
   overflow: hidden;
   position: relative;
}

.image {
   height: 300px;
   position: relative;
   margin-bottom: 3px;
}

.image p {
   position: absolute;
   bottom: 0;
   left: 5px;
   background-color: white;
   padding: 0 15px;
   transition: all .1s linear;
}

.image-item:hover>.image>p {
   bottom: 5px;
}

.image-item:hover>._border {
   display: block;
}

.image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
}

.image-title {
   font-size: 20px;
   color: #8e8fb5;
}

.slick-initialized .slick-slide {
   margin-right: 10px;
}

.slick-initialized .slick-slide:last-child {
   margin-right: 0px;
}

.slick-arrow {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   line-height: 1;
   z-index: 5;
   transition: all 0.2s linear;
}

.slick-arrow:hover {
   background-color: rgb(38, 32, 32);
   color: white;
}

.slick-prev {
   left: 0;
}

.slick-next {
   right: 0;
}


.slick-dots {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0);
   display: flex !important;
   align-items: center;
   justify-content: center;
   list-style-type: none;
}


.slick-dots button {
   font-size: 0;
   width: 200px;
   height: 2px;
   background-color:gainsboro;
   border: none;
   outline: none;
   transition: all 0.2s linear;
}

.slick-dots .slick-active button {
   background-color: black;
}

.click {
   background-color: black;
   color: white;
}
/* Topic */

.Topic {
   position: relative;
   width: 100%;
   height: 700px;
   margin-bottom: 100px;
}


.fill_picture_1 {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin-top: 50px;
}

.fill_picture_1>img {
   height: 100%;
   width: 100%;
   z-index: 1;
}


/* Phần sản phẩm*/
.product {
   margin-top: 30px;
}

.title_product {
   display: flex;
   flex-direction: row;
   column-gap: 30px;
   justify-content: flex-start;
}

._product {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 50px;
   border: 2px solid black;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 30px;
}

/* classify */

.classify {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   column-gap: 20px;
}

/* Sản phẩm & support*/

.Intro_more>.wrap {
   width: 90%;
}

.ban {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 5px;
}

.ban>h1 {
   font-size: medium;
}

.ban>p {
   font-size: small;
}

.ban>a {
   text-decoration: underline;
   font-weight: bold;
}

.banner-slider {
   margin: 40px 0;
}

.image-banner {
   height: 500px;
   margin-bottom: 3px;
   overflow: hidden;
}

.image-banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.ban>a:hover {
   background-color: black;
   color: white;
   text-decoration: none;
   width: 90px;
}

.convert {
   animation: convert 1.5s ease-in-out;
}

@keyframes convert {
   from {
      transform: translateX(50px);
   }

   to {
      transform: translateX(0);
   }
}

/*WHO ARE YOU SHOPPING FOR? */
.what>.wrap>h1 {
   margin-top: 20px;
}

.what>.wrap>.content {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 20px;
   margin: 20px 0px;
   margin-bottom: 40px;
   overflow: hidden;
}

.content>.same {
   width: calc(100/3 - 20px);
   min-width: 200px;
   height: 500px;
}

.content>.same>img {
   width: 100%;
   height: 90%;
   object-fit: cover;
}

.content>.same>h2 {
   font-size: 18px;
   margin-top: 10px;
}

/* History and Introduce*/

.wrap {
   width: 85%;
   margin: 0 auto;
}

.about_me {
   gap: 20px;
   background-color: #f5f5e5;

}

.about_me>.wrap {
   display: grid;
   grid-template-columns: auto auto;
   gap: 50px;
   line-height: 1.5;
   font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   padding-top: 40px;
   padding-bottom: 30px;
}

.about_me>.wrap>.left>h1,
.right>h1 {
   font-size: 26px;
}



.about_me>.wrap>p {
   line-height: 3;
}

/* Phần footer */
/* ĐĂng ký thành viên*/
.members {
   height: 140px;
   width: 100%;
   background-color: #ede734;
}

.over {
   width: 65%;
   margin: 0 auto;
}

.members>.over {
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}

.members>.over>h1 {
   font-size: 30px;
   font-weight: bold;
}

/* Phần thông tin liên quan*/
.info {
   height: 400px;
   width: 100%;
   background-color: white;
}

.info>.over {
   height: 100%;
   display: grid;
   grid-template-columns: 15% 15% 20% 18% 20% 10%;
   gap: 10px;
}

.properties {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 25px 10px;
}

.properties>h1 {
   font-size: 18px;
}

.properties>a {
   text-decoration: none;
   color: black;
   line-height: 2;
   font-size: 13px;
}

.properties:last-child>a {
   text-decoration: none;
   color: black;
   font-size: 20px;
}

/* Phần liên hệ blabla*/
.policy {
   height: 80px;
   width: 100%;
   background-color: #282c31;
   display: flex;
   justify-content: center;
   align-items: center;
}

.policy>ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}

.policy>ul>li {
   padding: 0 20px;
   border-left: 1px solid #6d8194;
}

.policy>ul>li:first-of-type {
   border-left: none;
}

.policy>ul>li>a {
   text-decoration: none;
   color: gainsboro;
   font-size: 11px;
}

/* Phần dành riêng cho thiết kế button*/

.button {
   position: relative;
   cursor: pointer;
}

._main_button {
   height: 50px;
   width: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   z-index: 10;
   position: absolute;
   top: -2px;
   left: -2px;
}

.button::after {
   display: block;
   content: "";
   height: 49px;
   width: 219px;
   border: 1px solid black;
   background-color: transparent;
   z-index: 1;
}

._main_button>p {
   text-decoration: none;
   color: white;
   transition: color .3s;
   font-size: 16px;
}

._main_button:hover>p {
   color: #767677;
}

.button_animation {
   animation: button_animation .3s ease-in-out;
}

@keyframes button_animation {
   from {
      top: -2px;
      left: -2px;
   }

   to {
      top: 0px;
      left: 0px;
   }
}
/* class for responsive*/
.navbar_sub {
   display: none;
   grid-template-columns: 15% 65% 20%;
   padding-bottom: 0px;
   margin-bottom: 0px;
   padding: 0 10px;
}

.logo_1 {
   display: flex;
   justify-content: center;
   align-items: center;
}

._logo_1 {
   height: 50px;
   width: 50px;
}

._logo_1>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.menu_s {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.menu_s_sub {
   font-size: 18px;
   cursor: pointer;
}


.search_s {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.search_s_sub {
   font-size: 18px;
   cursor: pointer;
}

.opinion {
   display: none;
}

.FAQ {
   display: none;
   background-color: black;
}

.FAQ_UL {
   list-style: none;
   display: grid;
   grid-template-columns: auto auto;
   padding: 20px;
   row-gap: 5px;
}

.FAQ_UL>li {
   text-align: center;
}

.FAQ_UL>li>a {
   color: gainsboro;
   font-size: 13px;
}

.menu_hid {
   position: fixed;
   top: 0;
   left: -100%;
   width: 100%;
   height: calc(100%);
   background-color: white;
   z-index: 2000000;
   overflow: scroll;
   transition: left .3s ease-in-out;
}

.menu_hid>.wrap {
   width: 80%;
   margin: 20px auto;
}

.close {
   display: flex;
   justify-content: end;
   cursor: pointer;
}

.close>p {
   transition: all .3s ease-in-out;
}

.close:hover>p {
   background-color: black;
   color: white;
}

.list {
   padding-top: 20px;
}

.list p {
   font-size: 15px;
   line-height: 2;
   font-weight: 300;
}

.t1 {
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.clist {
   list-style: none;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
   gap: 5px;
   margin-bottom: 10px;
}

.clist a {
   transition: all .3s ease-in-out;
   font-weight: 300;
}

.clist a:hover {
   text-decoration: underline;
   background-color: black;
   color: white;
}

.c1,.c2,.c3 {
   display: none;
}

.list_supporta {
   border-top: 1px solid black;
}

.list_supporta >.clist {
   margin-left: 0px;
   margin-top: 10px;
}


/* Responsive*/


@media only screen and (min-width: 1224px) and (max-width: 1600px) {
   .over {
      width: 80%;
   }
   
}

@media only screen and (min-width: 1024px) and (max-width: 1224px) {
   .navbar {
      grid-template-columns: 15% 55% 30%;
   }

   .info>.over {
      width: 90%;
   }

   .members>.over {
      display: flex;
      flex-direction: column;
   }

   .subnav>li>a {
      font-size: 13px !important; 
   }

   .sub_content a {
      font-size:12px;
   }

   .content_link {
      display: grid;
      grid-template-columns: 20% 15% 15% 15% 15% 20%;
      grid-template-rows: 90% 10%;
   }
}


.s {
   display: none;
}

@media only screen and (max-width: 1024px) {   
   .about_me>.wrap {
      display: flex;
      flex-direction: column;
   }

   .members {
      height: 200px;
   }

   .members>.over {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 20px;
   }

   .members>.over>h1 {
      text-align: center;
      font-size: 23px;
   }

   .info {
      display: none;
   }

   .opinion {
      display: flex;
      height: 120px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      padding: 20px 0;
      background-color:#f5f5e5;
   }

   .image-item {
      height: 300px;
   }
   
   .image {
      height: 200px;
   }

   ._video , .Topic {
      height: 500px;
   }

   .intro {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
   }
   
   .intro>._wrap {
      width: 80%;
      margin: 0 auto;
   }

   .FAQ {
      display: block;
   }

   .intro>._wrap>div>h1 {
      font-size: 20px ;
   }

   .intro>._wrap>div>h3 {
      font-size: 30px;
   }

   .intro>._wrap>div>p {
      font-size: 16px;
   }

   .policy ul {
      display: grid;
      grid-template-columns: repeat(2,auto);
   }

   .policy>ul>li:nth-of-type(5) {
      grid-column: span 2;
   } 

   .policy>ul>li {
      padding: 0 20px;
      border-left: none;
      margin: 5px 0;
   }

   
   .policy li {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
   .navbar {
      display: none;
   }

   .navbar_sub {
      display: grid;
   }

   .none {
      height: 90px;
   }

   .what>.wrap>.content {
      min-height: 320px;
      max-height: 400px;
   }
   
   .content>.same {
      width: calc(100/3 - 20px);
      height: 400px;
   }

   .image-banner {
      height: 400px;
   }

   ._wrap>div {
      z-index: 10;
      width: 45%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      gap: 30px;
   }
}


@media only screen  and (max-width: 740px) {

   .post>span {
      font-size: 14px;
   }

   .navbar_sub {
      grid-template-columns: 25% 50% 25%;
   }

   .ship>.wrap {
      width: 95%;
      margin: 10px auto;
   }

   .navbar {
      display: none;
   }

   .navbar_sub {
      display: grid;
   }

   .none {
      height: 90px;
   }
   
   .what>.wrap>.content {
      height: 320px;
   }
   
   .content>.same {
      width: calc(100/3 - 20px);
      height: 300px;
   }

   .image-banner {
      height: 300px;
   }

      
   ._main_button {
      width: 170px;
   }
   
   .button::after {
      width: 169px;
   }

   ._wrap>div {
      z-index: 10;
      width: 70%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      gap: 10px;
   }
}


@media only screen and (min-width: 480px) and (max-width: 740px){
   .slick-dots button {
      width: 100px;
   }
}

@media only screen and (max-width: 480px) {
   .aboutship h1 {
      font-size: 12px;
   }
   
   .aboutship p {
      font-size: smaller;
   }
   
   .aboutship a {
      text-decoration: underline;
      font-weight: bold;
      font-size: 12px;
   }

   .slick-dots button {
      width: 20px;
   }

}


/*-----------------------------------------------------------*/
