body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(0, 0, 255, 0.247);
}
.Login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.774) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px white;
    border-radius: 4%;
}
.Login-box h2{
    margin: 0 0 10%;
    padding: 0;
    color: white;
    text-align: center;
}
.Login-box .user-box{
    position: relative;
}
.Login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border: none;
    margin-bottom: 10%;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.Login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    /* transition: .5s; */
}
.Login-box .user-box input:focus~label,
.Login-box .user-box input:valid~label {
    top: -20px ;
    color: aqua;
    font-size: 12px;
}
.Login-box form a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10% 0;
    padding-right: 20%;
    /* text-transform: uppercase; */
    overflow: hidden;
    transition: .5s;
    /* letter-spacing: 4px; */
}
.Login-box a:hover{
    background: rgba(0, 255, 255, 0.466);
    color: white;
    border-radius: 5px;
    
}
.Login-box a span{
    position: absolute;
    display: block;
}

